.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
.g-section__heading {
    padding: 0;
}
.g-active__projects {
    padding-bottom: 80px;
}
.g-section__actions {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 45px;
}
.g-section__actions .g-btn:not(:last-child) {
    margin-right: 10px;
}
.g-section__actions .g-btn {
    font-size: 10px;
    padding: 10px;
}
.g-section__actions .g-btn.g-btn__blue {
    color: #fff;
    padding: 10px 26px;
    width: fit-content;
    margin-left: 25px;
}
.g-po__nav {
    width: 30%;
}
.g-pon__item {
    font-size: 20px;
    color: #8D9BA5;
    margin-bottom: 25px;
}
.g-pon__item svg {
    margin: auto 0;
    margin-right: 15px;
}
.g-pon__item.active {
    font-size: 30px;
    color: #000;
}
.g-pon__item svg path {
    stroke: #8D9BA5;
}
.g-pon__item.active svg path {
    stroke: #000;
}
.g-po__content {
    width: 70%;
    padding-left: 40px;
    margin-bottom: 40px;
}

/* Materials Styles */
.g-post__materials {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #E1ECEF;
    border-radius: 6px;
    padding: 13px;
}
.g-post__materials.border-dashed {
    border-style: dashed;
}
.g-pm__icon {
    margin-left: 15px;
    width: 32px;
    background-color: #f5f5f5;
    border-radius: 6px;
}
.g-pm__text-wrap {
    width: calc(100% - 48px);
}
.g-pmtw__row:first-child {
    border-bottom: 1px solid #E1ECEF;
    padding-bottom: 13px;
    margin-bottom: 13px;
}
.g-pmtw__row.g-pm__data {
    margin-bottom: 15px;
}
.g-pmtw__row:nth-child(3) > *:nth-child(2) {
    margin-left: 6px;
}
.g-pmtw__row:nth-child(3) .g-btn {
    font-size: 10px;
    padding: 8px 15px;
}
.g-pm__text-wrap h4, .g-pmtw__row:first-child a {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 0 0 15px;
}
.g-pmtw__row:first-child .g-bage {
    width: fit-content;
    height: fit-content;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}
.g-pmtw__text {
    font-size: 10px;
    color: #000;
    margin: auto 0 auto 13px;
}
.g-pmtw__text.gray {
    color: #B9C3CA;
}
.g-pmd__item span {
    width: 100%;
    font-size: 10px;
    color: #A8B4BD;
    margin-bottom: 2px;
}
.g-pmdi__icon {
    width: 14px;
    margin: auto 0;
}
.g-pmd__item h4 {
    font-size: 12px;
    font-weight: 600;
    width: calc(100% - 19px);
    margin: auto 0 auto 5px;
}