.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
.g-section__heading {
    padding: 0;
}
.g-active__projects {
    padding-bottom: 80px;
}
.g-section__actions {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 45px;
}
.g-section__actions .g-btn:not(:last-child) {
    margin-right: 10px;
}
.g-section__actions .g-btn {
    font-size: 10px;
    padding: 10px;
}
.g-section__actions .g-btn.g-btn__blue {
    color: #fff;
    padding: 10px 26px;
    width: fit-content;
    margin-left: 25px;
}
.g-po__nav {
    width: 30%;
}
.g-pon__item {
    font-size: 20px;
    color: #8D9BA5;
    margin-bottom: 25px;
}
.g-pon__item svg {
    margin: auto 0;
    margin-right: 15px;
}
.g-pon__item.active {
    font-size: 30px;
    color: #000;
}
.g-pon__item svg path {
    stroke: #8D9BA5;
}
.g-pon__item.active svg path {
    stroke: #000;
}
.g-pon__item span {
    width: calc(100% - 40px);
}
.g-po__content {
    width: 70%;
    padding-left: 40px;
    margin-bottom: 40px;
}

/* Form Styles */
.g-auth__block {
    width: 520px;
    margin: -55px auto 0;
    padding: 75px 100px;
    background-color: #fff;
}
.g-f__label.w-33:nth-child(1n) {
    margin-right: 0;
}
.g-f__label.w-33.mr15 {
    margin-right: 15px;
}
.g-post__heading {
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    color: var(--blue);
}



/* ----- MEDIA STYLES ----- */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .g-section__actions .g-btn.g-btn__blue {
        margin-left: 5px;
    }
}

@media (max-width: 768px) {
    .g-po__nav {
        width: 100%;
    }
    .g-po__content {
        width: 100%;
        padding-left: 0;
        margin-bottom: 40px;
    }
    .g-section__actions .g-btn:nth-child(1n) {
        margin: 0 10px 10px 0;
    }
        .g-f__label.w-33.mr15 {
        margin-right: 0;
    }
    .g-f__label:nth-child(2), .g-f__label:nth-child(4), .g-f__label:nth-child(6), .g-f__label:nth-child(9), .g-f__label:nth-child(11), .g-f__label:nth-child(13), .g-f__label:nth-child(15), .g-f__label:nth-child(20), .g-f__label:nth-child(22) {
        margin-right: 15px !important;
    }
}

@media (max-width: 576px) {
    .g-f__label:nth-child(1n) {
        margin-right: 0 !important;
    }
    .g-f__btn {
        margin-bottom: 15px;
    }
    .g-pmd__item {
        max-width: 50%;
        margin-bottom: 10px;
    }
    .g-pmd__item:nth-child(3) {
        max-width: 100%;
    }
}
