.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
.g-section__heading {
    padding: 0;
}
.g-active__projects {
    padding-bottom: 80px;
}
.g-section__actions {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 45px;
}
.g-section__actions .g-btn:not(:last-child) {
    margin-right: 10px;
}
.g-section__actions .g-btn {
    font-size: 10px;
    padding: 10px;
}
.g-section__actions .g-btn.g-btn__blue {
    color: #fff;
    padding: 10px 26px;
    width: fit-content;
    margin-left: 25px;
}
.g-po__nav {
    width: 30%;
}
.g-pon__item {
    font-size: 20px;
    color: #8D9BA5;
    margin-bottom: 25px;
}
.g-pon__item svg {
    margin: auto 0;
    margin-right: 15px;
}
.g-pon__item.active {
    font-size: 30px;
    color: #000;
}
.g-pon__item svg path {
    stroke: #8D9BA5;
}
.g-pon__item.active svg path {
    stroke: #000;
}
.g-pon__item span {
    width: calc(100% - 40px);
}
.g-po__content {
    width: 70%;
    padding-left: 40px;
    margin-bottom: 40px;
}


.g-post {
    width: calc(50% - 20px);
    margin-bottom: 40px;
}
.g-post:not(:nth-child(2n)) {
    margin-right: 40px;
}



/* ----- MEDIA STYLES ----- */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .g-po__nav {
        width: 100%;
    }
    .g-po__content {
        width: 100%;
        padding-left: 0;
        margin-bottom: 40px;
    }
    .g-post:not(:nth-child(2n)) {
        margin-right: 15px;
    }
    .g-post {
        width: calc(50% - 15px);
    }
}

@media (max-width: 576px) {
    .g-post:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .g-post {
        width: 100%;
    }
}