.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
.g-section__heading {
    padding-left: 0;
    width: 100%;
}
.g-post__section {
    margin-bottom: 40px;
}
/* OSASH Styles */
.g-osah__card {
    width: calc(16.66667% - (75px / 6));
    padding: 20px;
    margin-bottom: 15px;
    background: #F5F5F5;
    border-radius: 6px;
}
.g-osah__card:not(:nth-child(6n + 1)) {
    margin-right: 15px;
}
.g-osahc__wrap {
    width: calc(100% - 45px);
    margin-right: 10px;
}
.g-osahc__wrap .g-bage {
    font-size: 10px;
    padding: 3px 8px;
}
.g-osahc__icon {
    width: 35px;
}
.g-osahc__heading {
    margin: 40px 0 0;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
}
.g-osahc__link {
    margin-top: auto;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--blue);
}

/* ----- MEDIA STYLES ----- */

@media (max-width: 1200px) {
    .g-osah__card {
        width: calc(33.33335% - 10px);
    }
    .g-osah__card:not(:nth-child(6n + 1)) {
        margin-right: 0;
    }
    .g-osah__card:not(:nth-child(3n + 1)) {
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    .g-osahc__heading {
        margin: 30px 0 0;
    }
}

@media (max-width: 768px) {
    .g-osah__card {
        width: calc(50% - 7.5px);
    }
    .g-osah__card:not(:nth-child(3n + 1)) {
        margin-right: 0;
    }
    .g-osah__card:not(:nth-child(2n + 1)) {
        margin-right: 15px;
    }
}

@media (max-width: 576px) {
    .g-osah__card {
        width: 100%;
    }
    .g-osah__card:not(:nth-child(2n + 1)) {
        margin-right: 0;
    }

    .g-f__btn {
        margin-bottom: 15px;
    }
}