.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
.g-section__heading {
    padding: 0;
    width: 100%;
}
.g-active__projects {
    padding-bottom: 80px;
}
.g-section__actions .g-btn:not(:last-child) {
    margin-right: 10px;
}
.g-section__actions .g-btn {
    font-size: 10px;
    padding: 10px;
}
.g-section__actions .g-btn.g-btn__blue {
    color: #fff;
}
/* Content Wrap Styles */
.g-post__content {
    width: 67%;
    padding-right: 116px;
    align-content: baseline;
    margin-bottom: 60px;
}
.g-post__sidebar {
    position: relative;
    width: 33%;
}
.g-post__sidebar::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: calc(100% + ((100vw - var(--container)) / 2));
    height: calc(100% + 50px);
    background-color: #F5F5F5;
    z-index: -1;
}

/* Last Tab Styles */
.g-hot__spot {
    margin-top: 25px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.g-hs__point.\31 {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 11px solid var(--blue);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    box-sizing: content-box;
}
.g-contact__data .g-mmcc__contact {
    border-bottom: 1px solid #E1ECEF;
    padding-bottom: 15px;
}
.g-contact__data .g-mmcc__contact:not(:last-child) {
    width: 50%;
}
.g-contact__data .g-mmcc__contact .g-mmccc__text-wrap {
    width: calc(100% - 75px);
}



/* ----- MEDIA STYLES ----- */

@media (max-width: 1200px) {
    .g-banner__section {
        padding-top: 100px;
    }
    .g-post__content {
        padding-right: 60px;
    }
    .g-post__sidebar {
        padding-left: 50px;
    }
    .g-pe__title {
        font-size: 18px;
    }
    .g-f__label.w-33 {
        width: calc(50% - 7.5px);
    }
    .g-contact__data .g-mmcc__contact .g-btn {
        padding: 10px;
    }
    .g-contact__data .g-mmcc__link {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .g-banner__section {
        padding-top: 110px;
    }
    .g-post__content {
        padding-right: 30px;
    }
    .g-pd__item > .g-bage.blue {
        font-size: 10px;
    }
    .g-post__sidebar {
        padding-left: 30px;
    }
    .g-pe__title {
        font-size: 18px;
    }
    .g-pe__icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 15px;
    }
    .g-pe__wrap {
        width: calc(100% - 55px);
    }
}

@media (max-width: 768px) {
    .g-post__content {
        width: 100%;
        padding-right: 0;
    }
    .g-post__sidebar {
        margin-top: 40px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }
    .g-post__sidebar::before {
        width: calc(100% + 30px);
        left: -15px;
    }
}

@media (max-width: 576px) {
    .g-contact__data .g-mmcc__contact:not(:last-child) {
        width: 100%;
    }
    .g-f__label.w-33 {
        width: 100%;
    }
}
