.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
.g-section__heading {
    padding: 0;
    width: 50%;
}
.g-section__actions {
    width: 50%; 
    padding-top: 15px;
}
.g-active__projects {
    padding-bottom: 80px;
}
.g-section__actions .g-btn:not(:last-child) {
    margin-right: 10px;
}
.g-section__actions .g-btn {
    font-size: 10px;
    padding: 10px;
}
.g-post {
    width: calc(33.33335% - 10px);
    margin-bottom: 50px;
}
.g-post:not(:nth-child(3n)) {
    margin-right: 15px;
}


@media (max-width: 1325px) {
    .g-section__actions {
        width: 50%;
    }
    .g-section__heading {
        width: 50%;
    }
}
@media (max-width: 1200px) {
    .g-pe__title {
        font-size: 20px;
    }
}
@media (max-width: 992px) {
    .g-section__actions .g-btn:nth-child(1n) {
        margin: 0 0 10px 10px;
    }
    .g-post:not(:nth-child(2n)) {
        margin-right: 15px;
    }
    .g-post {
        width: calc(50% - 15px);
    }
}

@media (max-width: 576px) {
    .g-section__actions {
        width: 100%;
        justify-content: flex-start;
    }
    .g-section__heading {
        width: 100%;
    }
    .g-section__actions .g-btn:nth-child(1n) {
        margin: 0 10px 10px 0;
    }
    .g-post:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .g-post {
        width: 100%;
    }
}