.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
.g-section__heading {
    padding: 0;
}
.g-section__actions .g-btn:not(:last-child) {
    margin-right: 10px;
}
.g-section__actions .g-btn {
    font-size: 10px;
    padding: 10px;
}
/* Galary post styles  */
.g-post.galary {
    position: relative;
    width: calc(25% - (45px / 3));
    margin-bottom: 15px;
}
.g-post.galary:not(:nth-child(4n)) {
    margin-right: 15px;
}
.g-post.galary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 6px;
}
.g-post.galary .g-post__banner {
    margin-bottom: 0;
}
.g-post.galary .g-post__banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.g-post.galary .g-count {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    font-size: 10px;
}
.g-post.galary .g-pe__wrap {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 100%;
    z-index: 1;
}
.g-post.galary .g-pe__wrap > * {
    color: #fff;
}


@media (max-width: 1325px) {
    .g-section__actions {
        width: 50%;
    }
    .g-section__heading {
        width: 50%;
    }
}
@media (max-width: 1200px) {
    .g-pe__title {
        font-size: 20px;
    }
}
@media (max-width: 992px) {
    .g-section__actions .g-btn:nth-child(1n) {
        margin: 0 0 10px 10px;
    }
    .g-post.galary:not(:nth-child(2n)) {
        margin-right: 15px;
    }
    .g-post.galary {
        width: calc(50% - 15px);
    }
}

@media (max-width: 576px) {
    .g-section__actions {
        width: 100%;
        justify-content: flex-start;
    }
    .g-section__heading {
        width: 100%;
    }
    .g-section__actions .g-btn:nth-child(1n) {
        margin: 0 10px 10px 0;
    }
    .g-post.galary:not(:nth-child(4n)) {
        margin-right: 0;
    }
    .g-post.galary {
        width: 100%;
    }
}