.g-banner__section {
    position: relative;
    background-image: url('../../assets/img/trade-union/bbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.g-banner__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc((100vw - var(--container)) / 2 + (var(--container) * 0.40));
    background-color: rgb(0 114 197 / 70%);
}
.g-banner__section .g-row > * {
    z-index: 1;
}
.g-banner__heading {
    width: 40%;
    padding-right: 60px;
}
.g-banner__heading h1 {
    font-size: 46px;
    font-weight: 400;
    margin: 0;
}
.g-banner__heading p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.g-banner__counters {
    width: 60%;
    padding-left: 50px;
    padding-top: 30px;
}
.g-counter {
    /* max-width: calc(50% - 25px); */
}
.g-counter:nth-child(2) .g-c__text-wrap .g-section__tag {
    padding: 0
}
.g-counter:nth-child(2) .g-c__text-wrap .g-section__tag::before {
    content: none;
}
.g-c__title {
    font-size: 67px;
    font-weight: 600;
    margin: 0;
    color: #fff;
}
.g-counter .g-c__title {
    color: #fff;
}
.g-counter:first-child {
    margin-right: 50px;
}
.g-counter:first-child .g-c__title {
    padding-left: 64px;
}

/* Fast Link Styles */
.g-fast__links {
    background-color: #F5F5F5;
    padding: 33px 0;
}
.g-fast__link {
    font-size: 12px;
    font-weight: 600;
    margin-right: 25px;
    color: #000;
}
.g-fast__link p {
    margin: 0 0 0 5px;
    text-transform: capitalize;
}

/* Goals Styles */
.g-section.g-goals {
    padding: 100px 0 80px;
}
.g-section.g-goals, .g-menegers__section, .g-history__section, .g-commission__section, .g-structure__section, .g-osah-section {
    border-bottom: 1px solid #E6E6E6;
}
.g-section.g-goals .g-section__heading, .g-menegers__section .g-section__heading, .g-osah-section .g-section__heading {
    width: 100%;
}
.g-goal__col {
    width: calc(25% - 37.5px);
    margin-bottom: 40px;
}
.g-goal__col:not(:nth-child(4n)) {
    margin-right: 50px;
}
.g-gc__header h4 {
    padding-right: 50px;
    margin: 0;
    font-size: 63px;
    color: #EDEDED;
}
.g-gc__heading {
    color: var(--blue);
    font-weight: 700;
    font-size: 25px;
}
.g-gc__text {
    font-weight: 400;
    font-size: 14px;
    color: #646464;
}
.g-cl__link {
    color: #0072C5;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

/* Meneger Styles */
.g-menegers__section, .g-history__section, .g-commission__section, .g-structure__section, .g-osah-section {
    padding: 80px 0;
}
.g-manegment {
    width: 40%;
}
.g-manegers {
    width: 60%;
    justify-content: space-between;
}
.g-maneger {
    width: calc(50% - 25px);
}
.g-mg__img {
    width: 45%;
    margin-right: 24px;
    border-radius: 6px;
    overflow: hidden;
}
.g-mg__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.g-mg__text-wrap {
    width: calc(55% - 24px);
}
.g-mgtw__heading {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 30px;
}
.g-mgtw__heading::after {
    position: absolute;
    content: "";
    top: 120%;
    left: 25px;
    width: 80%;
    height: 1px;
    background-color: var(--blue);
}
.g-mgtw__text {
    font-weight: 400;
    font-size: 14px;
}
/* History Styles */
.g-history__slider {
    width: 60%;
}
.g-his__slide {
    display: block;
}
.g-his__block.video {
    position: relative;
    margin-bottom: 20px;
}
.g-his__block.video::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 114 197 / 70%);
    border-radius: 6px;
}
.g-his__block.video .g-btn {
    position: absolute;
    top: calc(50% - 39px);
    left: 110px;
}
.g-his__block:not(.video) img {
    width: 50%;
    margin-right: 20px;
}

/* Commission Styles */
.g-tab.reset {
    position: absolute;
    left: 40%;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: .3s ease;
}

.g-tab.reset.active {
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
}
section#comission .g-tn__item.active {
    color: var(--blue);
}
.g-com__item {
    width: calc(50% - 25px);
}
.g-comi__avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.g-comi__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.g-comi__wrap {
    width: calc(100% - 120px);
    margin: auto 0;
}
.g-comi__wrap h4 {
    margin: 0 0 10px;
    font-size: 16px;
}
.g-comi__wrap p {
    color: #8D9BA5;
    font-size: 12px;
}

/* Structure Styles */
.g-structure__card {
    width: calc(16.666667% - 12.5px);
    padding: 15px;
    border: 1px solid #E1ECEF;
    border-radius: 6px;
}
.g-structure__card:not(:nth-child(6n)) {
    margin-right: 15px;
}
.g-sc__text {
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 10px;
}
.g-sc__views {
    font-weight: 500;
    font-size: 10px;
    color: #B2BCC4;
    margin: 10px 0;
}
.g-structure__card .g-bage {
    font-size: 10px;
}


/* OSASH Styles */
.g-osah__card {
    width: calc(25% - (45px / 4));
    padding: 20px;
    background: #F5F5F5;
    border-radius: 6px;
}
.g-osah__card:not(:nth-child(4n)) {
    margin-right: 15px;
}
.g-osahc__wrap {
    width: calc(100% - 70px);
}
.g-osahc__icon {
    width: 60px;
}
.g-osah__card.img > * {
    width: 50%;
}
.g-osah__card.img > *:first-child {
    padding-right: 15px;
}
.g-osahc__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.g-osahc__heading {
    margin: 0 0 25px;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
}
.g-osahc__link {
    margin-top: auto;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--blue);
}


/* ----- MEDIA STYLES ----- */

@media (max-width: 1325px) {
    .g-c__title {
        font-size: 54px;
    }
}
@media (max-width: 1200px) {
    .g-c__title {
        font-size: 40px;
    }
    .g-banner__counters {
        padding-left: 10px;
    }
    .g-fast__link {
        margin-right: 15px;
    }
    .g-gc__header h4 {
        padding-right: 0;
    }
    .g-gc__heading {
        font-size: 18px;
    }
    .g-manegment {
        width: 100%;
        padding-right: 0;
    }
    .g-manegers {
        width: 100%;
    }
    .g-history__section .g-w40p {
        width: 100%;
    }
    .g-history__slider {
        width: calc(100% - 64px);
        margin-left: 64px;
        margin-top: 20px;
    }
    .g-commission__section .g-section__heading, .g-structure__section .g-section__heading {
        width: 100%;
    }

    .g-structure__card {
        width: calc(33.33335% - 10px);
        margin-bottom: 15px;
    }
    .g-structure__card:not(:nth-child(6n)) {
        margin-right: 0;
    }
    .g-structure__card:not(:nth-child(3n)) {
        margin-right: 15px;
    }

    .g-osah__card {
        width: calc(50% - 7.5px);
        margin-bottom: 15px;
    }
    
    .g-osah__card:not(:nth-child(4n)) {
        margin-right: 0;
    }
    
    .g-osah__card:not(:nth-child(2n)) {
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    .g-banner__heading {
        width: 100%;
    }
    .g-banner__counters {
        width: 100%;
        margin-bottom: 50px;
    }
    .g-banner__section::before {
        width: 100%;
    }

    .g-fast__link {
        margin-right: 8px;
    }
}

@media (max-width: 768px) {
    .g-counter, .g-counter:first-child {
        width: 50%;
        margin: 0;
    }
    .g-counter svg {
        margin-left: auto;
        margin-right: 25px;
    }

    .g-goal__col, .g-goal__col:not(:nth-child(4n)) {
        width: calc(50% - 25px);
        margin: 0 0 50px;
    }    
    .g-goal__col:not(:nth-child(2n)) {
        margin-right: 50px;
    }

    .g-commission__section .g-w40p {
        width: 100%;
        padding-right: 40px;
        margin-bottom: 20px;
    }    
    .g-tab.reset.active {
        position: static;
        width: 100%;
    }    
    .g-tab.reset {
        top: 100%;
        width: 100%;
        left: 0;
    }
    .g-mgtw__heading::after {
        width: 100%;
    }

    .g-structure__card:not(:nth-child(3n)) {
        margin-right: 0;
    }
    .g-structure__card {
        width: calc(50% - 7.5px);
    }
    .g-structure__card:not(:nth-child(2n)) {
        margin-right: 15px;
    }
}

@media (max-width: 576px) {
    .g-counter, .g-counter:first-child {
        width: 100%;
    }
    .g-fast__link {
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .g-goal__col:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .g-goal__col:nth-child(1n) {
        width: 100%;
    }
    .g-maneger {
        width: 100%;
    }
    .g-mgtw__heading::after {
        width: 80%;
    }
    .g-section__text {
        padding-left: 44px;
    }
    .g-history__slider {
        width: 100%;
        margin-left: 0;
    }
    .g-com__item {
        width: 100%;
    }
    .g-structure__card:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .g-structure__card {
        width: 100%;
    }
    .g-osah__card:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .g-osah__card {
        width: 100%;
    }

    .g-section.g-goals, .g-menegers__section, .g-history__section, .g-commission__section, .g-structure__section, .g-osah-section {
        padding: 60px 0;
    }
    .g-fast__links {
        display: none;
    }
}