.g-nav {
    background-color: var(--blue);
}
.g-banner__section {
    background-color: transparent;
}
.g-bread__crumbs {
    margin-bottom: 25px;
}
.g-bc__item {
    color: #D2D2D2;
}
.g-bc__item g {opacity: 1;}
.g-bc__item path {
    stroke: #D2D2D2;
}
h1.g-section__heading {
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin-right: 10px;
    width: calc(100% - 140px);
}
.g-section__logowrap {
    width: 130px;
    height: fit-content;
}
/* Tabination Styles */
.g-tn__item:not(.reset, :last-child) {
    max-width: 183px;
}
.g-tn__item:last-child::after {
    position: absolute;
    width: 400px;
    content: "";
    height: 1px;
    bottom: 0;
    left: 100%;
    background-color: #E1ECEF;
}
.g-tn__item:last-child {
    position: relative;
}

.g-tab {
    margin: 40px 0;
}
/* Tab1 Styles */
.g-post__heading {
    font-weight: 600;
    font-size: 22px;
}
.g-post__text {
    font-weight: 400;
    font-size: 18px;
}
.swiper {
    height: auto;
}
.g-post__slider {
    margin-top: 25px;
}
.g-post__slider .swiper-slide > img {
    height: auto;
    max-height: 762px;
}
.g-slider-navigation {
    margin-top: 15px;
}
.g-slider__nav {
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding: 5px 15px;
    cursor: pointer;
}
.g-slider-navigation .g-slider__pagination {
    width: auto;
    margin: 0 33px;
}

/* Content Wrap Styles */
.g-post__content {
    width: 67%;
    padding-right: 116px;
    align-content: baseline;
}
.g-post__sidebar {
    padding-left: 106px;
    width: 33%;
    position: relative;
}
/* .g-post__sidebar::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: calc(100% + ((100vw - 1315px) / 2));
    height: calc(100% + 50px);
    background-color: #F5F5F5;
    z-index: -1;
} */
/* Commission Styles */
section#comission .g-tn__item.active {
    color: var(--blue);
}
.g-com__item {
    width: calc(33% - 40px);
}
.g-comi__avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.g-comi__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.g-comi__wrap {
    width: calc(100% - 120px);
    margin: auto 0;
}
.g-comi__wrap h4 {
    margin: 0 0 10px;
    font-size: 16px;
}
.g-comi__wrap p {
    color: #8D9BA5;
    font-size: 12px;
}

/* Structure Styles */
.g-structure__card {
    width: 100%;
    padding: 15px;
    /* border: 1px solid #E1ECEF; */
    border-radius: 6px;
    background-color: #fff;
}
.g-structure__card:not(:nth-child(6n)) {
    margin-bottom: 15px;
}
.g-sc__logo {
    width: 70px;
    margin-right: 20px;
}
.g-sc__text-wrap {
    width: calc(100% - 90px);
}
.g-sc__text {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 10px;
}
.g-sc__views {
    width: 100%;
    font-weight: 500;
    font-size: 10px;
    color: #B2BCC4;
    margin: 10px 0;
}
.g-structure__card .g-bage {
    font-size: 10px;
    width: 100%;
    padding: 5px;
}
/* Tab 2 Styles */
.g-maneger {
    margin-top: 80px;    
}
.g-mg__img {
    width: 45%;
    margin-right: 24px;
    border-radius: 6px;
    overflow: hidden;
}
.g-mg__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.g-mg__text-wrap {
    width: calc(55% - 24px);
}
.g-mgtw__heading {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 30px;
}
.g-mgtw__heading::after {
    position: absolute;
    content: "";
    top: 120%;
    left: 25px;
    width: 80%;
    height: 1px;
    background-color: var(--blue);
}
.g-mgtw__text {
    font-weight: 400;
    font-size: 14px;
}
.g-mgtwc__item:first-child {
    margin-bottom: 5px;
}
.g-mgtwc__item a {
    font-size: 12px;
    color: var(--blue);
    margin-left: 6px;

}
/* Last Tab Styles */
.g-hot__spot {
    margin-top: 25px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 6px;
}
.g-hs__point.\31 {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 11px solid var(--blue);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    box-sizing: content-box;
}
.g-contact__data .g-mmcc__contact {
    border-bottom: 1px solid #E1ECEF;
    padding-bottom: 15px;
}
.g-contact__data .g-mmcc__contact:not(:last-child) {
    width: 50%;
}
.g-contact__data .g-mmcc__contact .g-mmccc__text-wrap {
    width: calc(100% - 75px);
}

/* Materials Styles */
.g-post__materials {
    width: calc(50% - 7.5px);
    margin-bottom: 15px;
    border: 1px solid #E1ECEF;
    border-radius: 6px;
    padding: 13px;
    align-items: center;
}
.g-pm__icon {
    margin-right: 15px;
    width: 35px;
}
.g-pm__text-wrap {
    width: calc(100% - 50px - 105px);
}
.g-pm__text-wrap p {
    margin: 0;
    color: #B2BCC3;
    font-size: 10px;
}
.g-pm__text-wrap h4 {
    font-size: 14px;
    margin: 0;
}
.g-pm__actions .g-btn {
    padding: 10px;
}
.g-pm__actions .g-btn:first-child {
    margin-right: 5px;
}
/* OL Styles */
.g-ol__item p {
    border-bottom: 1px solid #E1ECEF;
    margin: 0;
    width: calc(100% - 45px);
    margin-left: 15px;
    padding: 10px 0;
}
.g-ol__item .g-btn {
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
}

/* FAQS Styles */
.g-faq {
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #E1ECEF;
    overflow: hidden;
    transition: height .2s ease;
}
.g-faq:not(:last-child) {
    margin-bottom: 15px;
}
.g-faq__header {
    margin-bottom: 15px;
}
.g-faq__header h2 {
    width: calc(100% - 32px - 40px - 70px);
    margin: 0 60px 0 10px;
    font-weight: 600;
    font-size: 18px;
}
.g-faq__header .g-btn {
    padding: 5px;
}
.g-faq .g-faq__header .g-btn path {
    transition: all .2s ease;
}
.g-faq.active .g-faq__header .g-btn path:last-child {
    opacity: 0;
    transform: rotate(90deg);
}
.g-faq__body {
    width: 100%;
    padding-left: 45px;
    padding-right: 95px;
}
.g-faq__body p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
